.form-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 50vh;
  overflow: scroll;
  border: 2px solid blue;
  margin: 0em 1.5em 0em 1.5em;
  align-items: center;
}

.form-input {
  margin-top: 2em;
  width: 50%;
}

.submit-button {
  margin: 2em;
  width: 50%;
}
